@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.img-style {
  display: flex;

  width: 150px;
  height: 90px;

  margin-top: 0.7604562737642585vh;

  border-radius: 100px;

  animation: spin 5s infinite linear;
}
